{% extends 'secure/base.html' %}

{% load static %}

{% block secure_manage_user %}
      <table class="table table-stripped table-hover mt-5 table-sm">
        <tr>
            <th>Sno.</th>
            <th>User Name</th>
            <th>User Address</th>
            <th>User Email ID</th>
            <th>Action</th>
        </tr>
        {% for u in users %}
            <tr>
                <td>{{ u.nu_id }}</td>
                <td>{{ u.nu_name }}</td>
                <td>{{ u.nu_address }}</td>
                <td>{{ u.nu_email }}</td>
                <td>
                    <div class="btn-group">
                        <a href="" class="btn btn-sm btn-danger">delete</a>
                        <a href="" class="btn btn-sm btn-warning">view</a>
                    </div>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}