{% extends 'user/base.html' %}

{% load static %}

{% block insert_topic %}
    <div class="col-lg-10 mt-5">
        <h2>Insert Topics..</h2>
        <p class="lead">20 topics are already been posted</p>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header text-center">Insert Topics Here..</div>
                        <div class="card-body">
                            {% load crispy_forms_tags %}
                            <form action="{% url "insert_topic" %}" method="post">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form|crispy }}
                                <div class="form-group">
                                    <input type="submit" class="btn btn-info btn-block">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-sm table-hover table-stripped">
                                <tr>
                                    <th>Topic Title</th>
                                    <th>Topic Category</th>
                                    <th>Topic Date</th>
                                    <th>Action</th>
                                </tr>
                                {% for foo in topic %}
                                    <tr>
                                        <td>{{ foo.top_title }}</td>
                                        <td>{{ foo.top_cat }}</td>
                                        <td>{{ foo.top_doc }}</td>
                                        <td>
                                            <a href="" class="btn btn-sm btn-danger">Delete</a>
                                            <a href="" class="btn btn-sm btn-info">Edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}